@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

@layer components {
    * {
        @apply box-border;
    }

    body {
        @apply bg-gray-700 text-gray-200;
    }
    
    a {
        @apply text-gray-400;
    }

    h1 {
        @apply mb-4 text-4xl font-bold;
    }

    input {
        @apply bg-gray-800 pl-1;
    }

    input[type='radio'] {
        @apply w-[18px] h-[18px] accent-gray-600;
    }
}
.body-container {
    @apply flex h-screen overflow-y-hidden;
}

.ReactModal__Overlay {
    @apply opacity-0 transition-opacity duration-200 ease-in-out;
}

.ReactModal__Overlay--after-open {
    @apply opacity-100;
}

.ReactModal__Overlay--before-close {
    @apply opacity-0;
}

.modal-overlay {
    @apply top-0 left-0 right-0 bottom-0 fixed bg-gray-900/80;
}

.modal-content {
    @apply bg-gray-600 p-5 rounded-xl
    absolute top-10 bottom-10 left-10 right-10
    outline-none border-none;

    &.fit {
        @apply mr-[-50%] translate-x-[-50%] translate-y-[-50%]
        top-1/2 left-1/2 right-auto bottom-auto ;
    }
}