@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --doc-height: 100%;
    --chatbar-height: 62px;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

@layer components {
    .ellipsis-container {
        @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
    }

    .stretch-vertical {
        @apply h-full min-h-[var(--doc-height)];
    }

    .scrolling-container {
        @apply overflow-y-auto h-[var(--doc-height)];
    }

    .category-label {
        @apply text-sm font-semibold;
    }

    .icon {
        @apply flex items-center justify-center shrink-0
        w-10 h-10 mx-auto 
        text-xl text-center
        bg-green-500 rounded-full;
    }

    .sidebar-icon {
        @apply relative
        flex items-center
        w-13 h-13 mt-1.5
        text-2xl
        bg-gray-800 text-green-500
        hover:bg-green-700 hover:text-white
        hover:rounded-2xl
        transition-all duration-100 ease-in
        cursor-pointer;
    }

    .sidebar-tooltip {
        @apply fixed left-14 p-2 m-2 min-w-max
        rounded-md shadow-md
        bg-gray-900 text-white
        text-xs font-semibold
        transition-all duration-100 scale-0 origin-left
        pointer-events-none;
    }
}