@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

@layer components {
    * {
        @apply box-border;
    }

    body {
        @apply bg-gray-700 text-gray-200;
    }
    
    a {
        @apply text-gray-400;
    }

    h1 {
        @apply mb-4 text-4xl font-bold;
    }
}

.body-container {
    @apply flex h-screen;
}